@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@import "tailwindcss";

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #000;
  --gradient-color-2: #000;
  --gradient-color-3: #000;
  --gradient-color-4: red;
}

.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* *::-webkit-scrollbar {
  display: none;
} */

body {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 400vh;
  z-index: 9999;
}

.slider {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 500px;
  overflow: hidden;
  z-index: 9999;
}

.slide {
  position: absolute;
  width: 400px;
  will-change: transform, opacity;
}

.slide-img {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

#sub-header a {
  color: #8E8E8E
}

#sub-header a.active {
  color: #fff
}

#projects > div {
  width: calc(100% / 3 - 14px);
  height: 472px;
}