@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #000;
  --gradient-color-2: #000;
  --gradient-color-3: #000;
  --gradient-color-4: red;
}
